@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, sans-serif;
  }

  @font-face {
    font-family: 'Proxima-Nova';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/src/pages/fonts/Proxima-Nova-Font.otf);
  }

  :root {
    --background: 206, 37%, 4%, 1;
    --background-footer: 206, 18%, 8%, 1;
    --background-card: 206, 18%, 8%, 1;
    --input-card: 170, 4%, 8%, 1;
    --light-color: 0, 0%, 100%, 0.1;
    --light-text-color: 0, 0%, 47%, 1;
    --background-entires: 0, 0%, 16%, 1;
    --primary-light: 169, 71%, 48%, 1;
    --foreground: 0 0% 95%;
    --card: 206, 18%, 8%, 1;
    --light-text: 0, 0%, 92%, 0.75;
    --card-gray: 0, 0%, 50%, 1;
    --texts-gray: 0, 0%, 92%, 1;
    --card-foreground: 210, 7%, 11%, 1;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 169, 71%, 48%;
    --primary-foreground: 0, 0%, 7%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 169, 71%, 48%;
  }
}

.clip {
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 100%,
    0% 100%,
    0 19%,
    9% 31%,
    0% 0
  );
}
.categoryClip {
  clip-path: polygon(0 0, 100% 0, 17% 100%, 0 100%);
}

.mainContainer:hover .categoryClip {
  clip-path: polygon(0 0, 100% 0, 100% 73%, 75% 100%, 0 100%, 0% 50%);
}

.banner_img {
  background: url(../public/assets/background.png) center no-repeat;
  background-size: 100vw 100vh;
  /* max-width: 1600px; 
  max-height: 100px; */
}
.banner_img_flip {
  background: url(../public/assets/flip-background.png) center no-repeat;
  background-size: 100vw 100vh;
  /* max-width: 1600px;
  max-height: 100px; */
}

.scroll-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@media screen and (max-width: 768px) {
  .banner_img_flip {
    background: none;
  }

  .banner_img {
    background: none;
  }
}

.fading-animation {
  animation: fadeInAnimation ease-in-out 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loader {
  border-top-color: hsl(var(--primary));
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ql-editor {
  background-color: black;
  color: white;
}

.range-slider-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.range-slider {
  width: 100%;
  background-color: blue;
}
.aboutus-card {
  clip-path: polygon(0 0, calc(100% - 60px) 0, 100% 60px, 100% 100%, 0 100%);
}
.glow {
  -webkit-box-shadow: 0px 0px 116px 48px rgba(45, 255, 196, 0.28);
  -moz-box-shadow: 0px 0px 116px 48px rgba(45, 255, 196, 0.28);
  box-shadow: 0px 0px 116px 48px rgba(45, 255, 196, 0.28);
  border-radius: 100%;
}

.clip-style {
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 100%,
    0 100%,
    0 21%,
    20% 22%,
    0 0
  );
}

.wpwl-form {
  background: #f8f8f8;
  padding: 8px;
}
.wpwl-label-brand {
  display: none;
}
.wpwl-label {
  color: black;
}
.wpwl-form-card {
  background: #f8f8f8;
  border: 0px;
}
.wpwl-control,
input.wpwl-control {
  background: white;
  border: 1px solid #ddd;
  color: black;
  box-shadow: none;
  border-radius: 0px;
  font-family: 'ff-good-headline-web-pro-con', 'Pathway Gothic One', sans-serif;
  text-transform: none;
  padding: 10px;
  font-size: 18px;
  height: 50px;
}
.wpwl-control,
.input-text:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus {
  background-color: white;
}
.wpwl-control > textarea:focus {
  background-color: white;
}
.wpwl-brand-SOFORTUEBERWEISUNG,
.wpwl-brand-GIROPAY {
  cursor: pointer;
}
.wpwl-brand,
.wpwl-img {
  margin: 0 0 0 auto;
}
.wpwl-wrapper > button {
  background-color: hsl(var(--primary)) !important;
  color: white;
}
.wpwl-group-registration {
  color: black;
}
